// Place all the styles related to the Pontos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack:  Helvetica, sans-serif;
$primary-color: #333;
$border-color: #000;
$border-diff: 1px dashed #eaeaea;

body {
  font: 100% $font-stack;
  margin: 0;
  padding: 0;
  background: $primary-color asset-data-url('timecard.png') no-repeat left center;
}

table {
	width: 100%;
}

th {
	font-weight: bold;
	text-align: center;
}

th.horario {
	width: 20%;
}

td {
	border-collapse: collapse;
	text-align: center;
	border-bottom: 1px solid $border-color;
	border-right: 1px solid $border-color;
}

.content {
	border: 2px solid #000;
	width: 740px;
	margin: auto;
	background-color: #fff;
	padding: 5px;
	text-align: center;
}

.footer {
	border: 2px solid $primary-color;
	width: 740px;
	margin: auto;
	padding: 5px;
	text-align: right;
}

.footer .embromation-on {
	font-size: 75%;
	color: #aaa;
	border: 1px solid #0E0E0E;
	padding: 4px;
	background-color: #000;
}

.footer .embromation-off {
	font-size: 75%;
	color: #aaa;
	border: 1px solid #0E0E0E;
	padding: 4px;
	background-color: #000;
}

.footer .embromation-off strong {
	background-color: #464646;
	padding: 2px;
	color: #6B6B6B;
}

.footer .embromation-on strong {
	background-color: rgb(85, 105, 81);
	padding: 2px;
	color: #fff;
}

.header-link {
	padding: 10px;
	margin: 10px;
	border: $border-diff;
}

a {
  	color: #000;
	padding: 3px;
	&:hover {
		color: #fff;
		background-color: #000;
	}
}

.weekend {
	background-color: #eaeaea;
	font-weight: bold;
}

.holiday {
	background-color: #FFDCB8;
	font-weight: bold;
}

h1 {
	font-size: 170%;
}

h2 {
	font-size: 140%;
	border: $border-diff;
}